/* HEADER */


.navText__container {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;


    /* padding: 4px 0; */
}

.navText__container h3 {
    margin-top: 5px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: textslide 10s infinite alternate;
}

.navText__container a {
    color: #14213D;
}

@keyframes textslide {
    0% {
        width: 0ch;
        color: #14213D;
    }

    50% {
        width: 55ch;
        color: #FCA311;
    }
}

@media only screen and (max-width: 450px) {
    .navText__container {
        height: 35px;
        padding: 0 1rem;
    }

    .navText__container h3 {
        font-size: 10px;
    }

    .navText__container h3 {
        font-size: 12px;
    }
}


/* hero */


.hero_slider {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero_items {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: slideimage 41s infinite;
}

.hero_items:nth-child(1) {
    animation-delay: 0s;
}

.hero_items:nth-child(2) {
    animation-delay: 10s;
}

.hero_items:nth-child(3) {
    animation-delay: 20s;
}

.hero_items:nth-child(4) {
    animation-delay: 30s;
}

.hero_items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 41s infinite;

}

.hero_text {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 3%;
    border-radius: 10px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 30px 10px;
    text-align: center;
    /* width: 35%;  */
}

@media screen and (max-width: 450px) {
    .hero_text {
        max-width: 90%;
    }
}

.hero_text h5 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.hero_text p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

@keyframes slideimage {
    25% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

@keyframes zoom {
    100% {
        transform: scale(1.3);
    }
}

@media only screen and (max-width: 400px) {
    .hero_text {
        top: 30%;
        /* background:transparent; */
        padding: 8px;
    }

    .hero_text h5 {
        font-size: 18px;
        font-weight: 600;
    }

    .hero_text p {
        font-size: 12px;
    }
}

/* Parallax */

.brand_bg {
    background: url('../assets/Images/brandBG.svg') repeat fixed 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

@media only screen and (max-width: 450px) {
    .brand_bg {
        display: none;
    }
}

/* herocomponent */

@keyframes textSlide {
    0% {
        color: black;
        margin-bottom: -10px;
    }

    30% {
        color: #FCA311;
        letter-spacing: 15px;
        margin-bottom: -10px;
    }

    100% {
        letter-spacing: 8px;
        margin-bottom: -10px;
    }
}

@keyframes textSlideMob {
    0% {
        color: black;
    }

    30% {
        color: #14213D;
        /* margin-bottom: -10px; */
    }

    100% {
        color: #FCA311;
        /* margin-bottom: -10px; */
    }
}

.text_header {
    font-weight: 900;
    letter-spacing: 1px;
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    animation: textSlide 7s infinite;
}
.text_header_mobile {
    font-weight: 900;
    letter-spacing: 1px;
    color: black;
    font-size: 28px;
    text-transform: uppercase;
    animation: textSlideMob 7s infinite;
}

@media only screen and (max-width: 450px) {
    .text_header {
        display: none;
    }
}
@media only screen and (min-width: 450px) {
    .text_header_mobile {
        display: none;
    }
}


/* gymhive */
.hero_text_gymhive {
        max-width: 80%;
        position: absolute;
        top: 50%;
        left: 5%;
        border-radius: 10px;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.4);
        color: white;
        padding: 30px 10px;
        text-align: center;
        /* width: 35%;  */
}

.hero_text_gymhive h5 {
    font-size: 100px;
}
.hero_text_gymhive p {
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 450px) {
    .hero_text_gymhive {
        max-width: 90%;
    }
    .hero_text_gymhive h5 {
        font-size: 35px;
    }
    .hero_text_gymhive p {
        font-size: 14px;
        width: 100%;
        margin: 0 auto;
    }
}